*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial;
    font-size: 16px;
}

#page {
    width: 80%;
    min-width: 250px;
    padding: 10px;
    margin: 0 auto;
    border: 2px solid black;
}

#cabeçalho {
    display: flex;
    border: 2px solid black;
    align-items: center;
    color: purple;
    padding: 10px;
}

#chat {
    padding: 25px 50px;
    border: 2px solid black;
}

#Cliente {
    text-align: end;
}

h2 {
    padding-top: 12px;
    padding-bottom: 6px;
}

h3 {
    border: 1px solid black;
    padding: 6px;
    width: 60%;
    text-align: left;
}

#Cliente h3 {
    position: relative;
    right: -40%;
}

form {
    display: flex;
    justify-content: space-between;
    padding: 12px 0px;
}

.input {
    width: 100%;

}

form .input input {
    padding: 3px;
    border-radius: 6px;
    width: 100%;
}

form .row-button button {
    color: green;
    padding: 3px 18px;
    cursor: pointer;
    margin-left: 10px;
}